<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wons.wordmanager3ver">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WordManager3ver">
        <activity
            android:name=".fragmenthome.getlist.ChoiceListActivity"
            android:exported="true" />
        <activity
            android:name=".fragmentaddword.memo.MemoActivity"
            android:exported="true" />
        <activity
            android:name=".fragmentaddword.sameword.CheckSameWordActivity"
            android:exported="true" />
        <activity
            android:name=".testword.TestResultActivity"
            android:exported="true" />
        <activity
            android:name=".fragmentaddword.addword.AddWordActivity"
            android:exported="true" />
        <activity
            android:name=".testword.TestActivity"
            android:exported="true" />
        <activity
            android:name=".studyword.StudyActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>