<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wons.wordmanager3ver">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round1"
        android:supportsRtl="true"
        android:theme="@style/Theme.WordManager3ver">
        <activity
            android:name=".todayword.TodayWordActivity"
            android:exported="true" />
        <activity
            android:name=".infoactivity.InfoActivity"
            android:exported="true" />
        <activity
            android:name=".addwordactivity.WordListActivity"
            android:exported="true" />
        <activity
            android:name=".gamefragment.game.fourcard.FourCardActivity"
            android:exported="true" />
        <activity
            android:name=".gamefragment.game.putspellatblankgame.PutSpellAtBlankActivity"
            android:exported="true" />
        <activity
            android:name=".gamefragment.game.oxquiz.QuizActivity"
            android:exported="true" />
        <activity
            android:name=".gamefragment.game.makeword.MakeWordGameActivity"
            android:exported="true" />
        <activity
            android:name=".mainutils.getlist.ChoiceListActivity"
            android:exported="true" />
        <activity
            android:name=".addwordactivity.memo.MemoActivity"
            android:exported="true" />
        <activity
            android:name=".addwordactivity.sameword.CheckSameWordActivity"
            android:exported="true" />
        <activity
            android:name=".testfragment.testword.TestResultActivity"
            android:exported="true" />
        <activity
            android:name=".addwordactivity.addword.AddWordActivity"
            android:exported="true" />
        <activity
            android:name=".testfragment.testword.TestActivity"
            android:exported="true" />
        <activity
            android:name=".studyfragment.studyword.StudyActivity"
            android:exported="true" />
        <activity
            android:name=".gamefragment.game.hangman.HangManActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>